/** http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, input[type=submit], input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* END RESET.CSS */
html {
  scroll-behavior: smooth;
}
html body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
html body .nav-bar {
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3rem;
}
html body .nav-bar .nav-button {
  padding: 1rem;
  margin: 0.5rem;
  color: #ffffff;
  background-color: none;
  transition: 0.5s;
  transition-property: color;
  text-decoration: none;
}
html body .nav-bar .nav-button:hover {
  color: gray;
  cursor: pointer;
  transition: 0.5s;
}
html body .splash-container {
  height: 78vh;
  background-color: black;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  display: flex;
  flex-direction: column;
}
html body .info-container {
  background-color: black;
  height: 22vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body .info-container .info {
  margin: 2rem;
  color: #ffffff;
  font-size: 4rem;
}
@media (max-width: 960px) and (min-width: 501px) {
  html body .info-container .info {
    margin: 1rem;
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  html body .info-container .info {
    margin: 0.75rem;
    font-size: 1.75rem;
  }
}
@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 1rem;
  }
}
html body .info-container .info-icon {
  color: #ffffff;
  animation: MoveUpDown 1s linear infinite;
  position: absolute;
}
html body #summary-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
html body #summary-container .summary-header {
  margin: 2rem;
  font-size: 4rem;
  text-align: center;
}
html body #summary-container .skills-container {
  margin: 2rem;
  padding: 1rem;
  display: flex;
  width: 78%;
  flex-direction: row;
  justify-content: center;
}
html body #summary-container .skills-container .skills-information-container {
  width: 50%;
  padding: 3rem;
  margin: 2rem;
  font-size: 3rem;
  line-height: 5rem;
}
html body #summary-container .skills-container .skills-information-container > a {
  color: inherit;
  text-decoration: none;
  transition: 0.5s;
  transition-property: color;
}
html body #summary-container .skills-container .skills-information-container > a:hover {
  color: gray;
  cursor: pointer;
  transition: 0.5s;
}
html body #summary-container .skills-container .skills-list-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem;
}
html body #summary-container .skills-container .skills-list-container .list-element {
  margin: 0.5rem;
  padding: 0.5rem;
  width: 8rem;
}
html body #summary-container .skills-container .skills-list-container .list-element > img {
  width: 100%;
}
@media (max-width: 1300px) and (min-width: 501px) {
  html body #summary-container .skills-container {
    flex-direction: column;
  }
  html body #summary-container .skills-container .skills-list-container {
    width: 100%;
    padding: 0.25rem;
  }
  html body #summary-container .skills-container .skills-list-container .list-element {
    margin: 0.25rem;
    padding: 0.25rem;
  }
  html body #summary-container .skills-container .skills-information-container {
    width: 100%;
    padding: 1rem;
    margin: 1rem;
  }
}
html body #footer {
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
html body #footer span {
  font-size: 2rem;
  padding: 1rem;
  margin: 0.5rem;
  color: #ffffff;
  background-color: none;
}
html body #footer span:hover {
  cursor: pointer;
}
html body #footer .footer-content {
  font-size: 2rem;
  padding: 1rem;
  margin: 0.5rem;
  color: black;
  background-color: none;
  transition: 0.5s;
  transition-property: color;
  text-decoration: none;
}
html body #footer .footer-content:hover {
  color: gray;
  cursor: pointer;
  transition: 0.5s;
}
@media (max-width: 960px) and (min-width: 501px) {
  html body #footer .footer-content {
    text-align: center;
    width: 33%;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 0.25rem;
  }
}
@media (max-width: 500px) {
  html body #footer .footer-content {
    text-align: center;
    width: 95%;
    font-size: 2rem;
    padding: 0.25rem;
    margin: 0.25rem;
  }
}

/*# sourceMappingURL=style.css.map */
